.nav-link-text {
  font-size: 1.1em;
  z-index : 1;
}

.sidebar {
  width: 0vw;
  height: 100%;
  position: fixed;
  transition: width 0.3s ease;
  overflow-x: hidden;
  font-size: 1.1em;
  z-index: 0;
}

.sidebar.open {
  width: 18vw;
}
.separator-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFF; /* Change color as needed */
}

.separator-with-text::before,
.separator-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #6c757d; /* Line color */
  margin: 0 10px; /* Spacing around text */
}